<div class="row">
    <div class="col s12">
        <h3>Список книг</h3>
        <a class="btn waves-effect waves-light" href="{{ path('book_new') }}">Добавить книгу</a>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Название книги</th>
                <th>Автор</th>
                <th>Дата прочтения</th>
                <th>Файл книги</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td style="width: 250px"><img style="max-width: 240px; max-height: 350px" class="responsive-img" src="/uploads/photos/{{ book.bookPhotoName }}"/></td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.dateRead ? book.dateRead|date('Y-m-d H:i:s') : '' }}</td>
                    <td><a href="/uploads/books/{{ book.bookFileName }}"/>Читать книгу</td>
                    <td class="center-align">
                        <a class="btn waves-effect waves-light" href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>
                        {{ include('book/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
